.logo{
    margin-top: 200px;
    // border:1px solid black;
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 200px;
    img{
        align-self: center;
    }
}

@media only screen and (max-width:375px){
    .logo{
        flex-direction: column;
        height:600px;
        margin-top:100px ;
        margin-bottom:150px;
    }
}